html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; font-family: Trebuchet, Arial, sans-serif; font-size: 0.9em; color: #DDD; overflow: hidden; }

a { text-decoration: none; color: #30a8c0; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; font-variant: small-caps; }
h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
p { padding-bottom: 5px; }
input, select, textarea, button { border: 1px solid #DDD; padding: 5px; }
img { border: 0; }
textarea { font-size: 0.9em; }
table { width: 100%; }
th { background: #DDD; text-align: left; font-weight: normal; color: #FFF; }
td, th { border: 1px solid #DDD; border-width: 0 1px 1px 0; padding: 3px; }

#header { background: #333; position: fixed; top: 0; z-index: 100; height: 50px; width: 100%; }
#navigation { padding: 11px 0 0; }
#query_meta { background: url('../img/bg_query_stat.png') no-repeat; position: fixed; left: 90px; top: 45px; width: 455px; height: 620px; z-index: 100; padding: 30px 10px; }

#map_canvas { position: absolute; top: 50px; z-index: 99; width: 100%; height: 100%; }
#content { background: url('../img/alpha70_333.png'); position: fixed; right: 0; top: 40px; width: 380px; height: 100%; z-index: 100; padding: 10px; }
#post_content { background: url('../img/alpha70_333.png'); position: fixed; right: 400px; top: 40px; width: 380px; height: 100%; z-index: 100; padding: 10px; }
#footer { background: #333; position: fixed; bottom: 0; z-index: 100; height: 20px; width: 100%; }

/**
 * ID presentation
 */
#header img { border: 0; padding-left: 5px; }
#navigation ul { list-style-type: none; }

#content h3, #post_content h3 { border-bottom: 1px solid #777; }