html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; font-family: Trebuchet, Arial, sans-serif; font-size: 0.8em; color: #DDD; overflow: hidden; }

a { text-decoration: none; color: #30a8c0; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; font-variant: small-caps; }
h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
p { padding-bottom: 5px; }
input, select, textarea, button { border: 1px solid #DDD; padding: 5px; }
img { border: 0; }
textarea { font-size: 0.9em; }
table { width: 100%; font-size: 0.8em; }
th { background: #DDD; text-align: left; font-weight: normal; color: #FFF; }
td, th { border: 1px solid #DDD; border-width: 0 1px 1px 0; padding: 3px; }

#header { background: #333; position: fixed; top: 0; z-index: 100; height: 50px; width: 100%; }
#navigation { padding: 11px 0 0; }
#menu { position: fixed; left: 25px; top: 50px; }
#menu ul { list-style-type: none; margin: 0; padding: 0; }
#menu li a { display: block; width: 200px; padding: 15px; background: #333; border-top: 1px solid #DDD; }

#query_meta { background: url('../img/bg_query_stat.png') no-repeat; position: fixed; left: 90px; top: 45px; width: 455px; height: 620px; z-index: 1000; padding: 30px 10px; }

#map_canvas { position: absolute; top: 50px; z-index: 10; width: 100%; height: 100%; }

#content { background: url('../img/alpha70_333.png'); position: fixed; right: 0; top: 0; width: 380px; height: 100%; z-index: 1000; padding: 50px 10px; overflow: scroll; }
#post_content { background: url('../img/alpha70_333.png'); position: fixed; right: 400px; top: 0; width: 380px; height: 100%; z-index: 1000; padding: 50px 10px; overflow: scroll; }
#content_wide { margin: 55px 25px 0; color: #333; }

#content label, #post_content label, #content_wide label { display: block; margin: 0 0 3px; }
#content input, #post_content input, #content_wide input { width: 300px; margin: 0 0 10px; }
#content input.radio, #post_content input.radio, #content_wide input.radio { width: 20px; }
#content #submit, #post_content #submit, #content_wide #submit { width: 100px; clear: both; }

#footer { background: #333; position: fixed; bottom: 0; z-index: 100; height: 20px; width: 100%; padding: 3px 25px 0; }

/**
 * ID presentation
 */
#header img { border: 0; padding-left: 5px; }
#navigation ul { list-style-type: none; }

#content h3, #post_content h3 { border-bottom: 1px solid #777; }

.ui-widget { font-family: Trebuchet, Arial, sans-serif; font-size: 0.9em; }
.dataTables_filter { float: none; text-align: left; }
.dataTables_length { float: none; }
div.dataTables_filter input { width: 200px !important; }
#datatable thead th {  background-color: #FFF; color: #333; }
#datatable tr.odd {  background-color: #446; }
#datatable tr.odd td.sorting_1 {  background-color: #335; }
#datatable tr.even { background-color: #444; }
#datatable tr.even td.sorting_1 { background-color: #333; }

button.DTTT_button { color: #DDD; }
div.DTTT_container { margin-top: 1em; }
